.section-a {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-b {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-c {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}

.section-d {
  padding-top: 60px;
  padding-bottom: 60px;
}
